*.exe
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.DS_Store?
node_moules
*.idea
/.vs
/obj/Debug
/WidgetDashboard.csproj
/compilerconfig.json.defaults
/compilerconfig.json
/WidgetDashboard.sln
/WidgetDashboard.csproj.user
/obj/Release/WidgetDashboard.csproj.CoreCompileInputs.cache
