@import "variables";
@import "edit-panel";
@import 'widgets/clock-widget';
@import 'widgets/work-counter-by-activity-and-status-widget';

.dashboard {
  background-color: $dashboard-bg;
  min-height: 100vh;
}

.dashboard-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.widget-content {
  display: flex;
  height: 100%;

  .widget-loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

    .widget-loading {
      margin: auto;
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;

      div {
        transform-origin: 32px 32px;
        animation: lds-spinner 1.2s linear infinite;
      }

      div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 29px;
        width: 5px;
        height: 14px;
        border-radius: 20%;
        background: $white;
      }

      div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }

      div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }

      div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }

      div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }

      div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }

      div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }

      div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }

      div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }

      div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }

      div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }

      div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }

      div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
    }

    @keyframes lds-spinner {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

.widget-icon-edit,
.widget-icon-delete {
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s ease;
  width: 15px;
  height: 15px;
  position: absolute;
}

.widget-icon-delete {
  left: 5px;
  top: 5px;
  background: url('../../img/icons/close.svg') $white no-repeat center;
  -webkit-background-size: cover;
  background-size: 9px;
}

.widget-icon-edit {
  right: 5px;
  top: 5px;
  background: url('../../img/icons/widget-edit-icon.svg') $white no-repeat center;
  -webkit-background-size: cover;
  background-size: 9px;
}

.edit-mode-on .grid-stack-item:hover [class^="widget-icon"] {
  z-index: 1;
  opacity: 1;
}

.sidebar .widget-content:after {
  content: attr(data-widget-count);
  margin-left: 5px;
  display: inline-flex;
  padding: 1px;
  border-radius: 100px;
  min-width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.dashboardEditPanel {
  display: none;
}

.grid-stack-item .grid-stack-item-content {
  background-color: $widget-bg;
  color: $widget-default-color;
  text-align: center;
}

.grid-stack {
  padding-left: 0;
  list-style: none;
}

.sidebar .grid-stack-item {
  cursor: pointer;
}

.sidebar .grid-stack-item-content {
  text-align: left;
}

.sidebar {
  background: rgba($sidebar-bg, .1);
  height: 150px;
  padding: 15px;
  text-align: center;
}

.sidebar .grid-stack-item {
  width: 100%;
  text-align: center;
  z-index: 10;
  background: rgba($sidebar-bg, .1);
  display: inline-block;
}

.sidebar .grid-stack-item .grid-stack-item-content {
  background: none;
}



