.grid-stack-item-content {
  .clock-widget {
    color: rgba($black, 0.9);
    font-family: 'Open Sans', MS, Arial, sans-serif;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    .clock {
      font-size: 30px;
    }
    .date {
      font-size: 30px;
    }

  }
}

@media(min-width: 768px){

  .grid-stack-item[data-gs-width="2"] {
    .clock-widget {
      .clock {
        font-size: 18px;
      }
      .date {
        font-size: 16px;
      }
    }
  }
  .grid-stack-item[data-gs-width="3"] {
    .clock-widget {
      .clock {
        font-size: 21px;
      }
      .date {
        font-size: 19px;
      }
    }
  }

  .grid-stack-item[data-gs-width="4"] {
    .clock-widget {
      .clock {
        font-size: 24px;
      }
      .date {
        font-size: 22px;
      }
    }
  }

  .grid-stack-item[data-gs-width="5"] {
    .clock-widget {
      .clock {
        font-size: 26px;
      }
      .date {
        font-size: 24px;
      }
    }
  }

  .grid-stack-item[data-gs-height="5"] {
    .clock-widget {
      .clock {
        font-size: 40px;
      }
      .date {
        font-size: 35px;
      }
    }
  }

  .grid-stack-item[data-gs-height="4"],
  .grid-stack-item[data-gs-height="3"] {
    .clock-widget {
      .clock {
        font-size: 30px;
      }
      .date {
        font-size: 26px;
      }
    }
  }
}
