.work-count-widget {
  color: rgba($white, .9);
  font-family: 'Open Sans', MS, Arial, sans-serif;
  text-align: center;
  line-height: normal;

  justify-content: center;
  flex-direction: column;

  .title {
    font-size: 18px;
  }

  .counter {
    font-weight: 700;
    font-size: 20px;
  }
}

@media(min-width: 768px){

  .grid-stack-item[data-gs-width="3"] {
    .work-count-widget {
      .counter, .title {
        font-size: 25px;
      }
    }
  }

  .grid-stack-item[data-gs-width="4"] {
    .work-count-widget {
      .counter, .title {
        font-size: 30px;
      }
    }
  }

  .grid-stack-item[data-gs-width="5"] {
    .work-count-widget {
      .counter, .title {
        font-size:40px;
      }
    }
  }

  .grid-stack-item[data-gs-height="5"] {
    .work-count-widget {
      .counter, .title {
        font-size: 40px;
      }
    }
  }

  .grid-stack-item[data-gs-height="4"],
  .grid-stack-item[data-gs-height="3"] {
    .work-count-widget {
      .counter, .title {
        font-size: 35px;
      }
    }
  }
}