.grid-stack-item-content {
  .clockWidget {
    color: rgba($black, 0.9);
    font-family: 'Open Sans', MS, Arial, sans-serif;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
  }
  .widget-content {
    &.clockWidget-2 {
      font-size: 16px;
      background-color: blueviolet;
    }
    &.clockWidget-4 {
      font-size: 40px;
      background-color: gold;
    }
    &.clockWidget-6 {
      font-size: 40px;
      background-color: green;
    }
  }
}
