.widget-settings-title {
  font-size: 20px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}

.settings-label {
  display: block;
}

.settings-label{
  input{
    width: auto;
  }
}

.settings-label .settings-input-text {
  display: inline-block;
  padding-left: 5px;
}

.settings-input-title {
  display: block;
  margin-bottom: 5px;
}

.settings-input-wrap {
  margin-bottom: 15px;
}

.grid-item-popup__container {
  padding: 0 15px;
  width: 100%;
}

.grid-item-popup {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  background-color: $widget-popup-bg;
  padding: 20px 0;
  display: none;
  flex-direction: column;
  z-index: 10001;
}

.dashboard:not(.open){
  .grid-item-popup{
    display: none!important;
  }
}