.sidebar {
  padding: 15px;
  flex: 100;
  .gs-panel-body {
    //padding: 0 10px;
    background-color: $white;
  }

  .gs-panel {
    margin: 0  -15px;
  }
  .gs-panel-heading {
    cursor: pointer;
    background-color: $sidebar-heading-col;
    color: $white;
    text-transform: uppercase;
  }

  .gs-panel-title {
    padding: 3px 8px 5px 3px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    i {
      display: inline-flex;
      align-items: center;
    }
    .fa-caret-down {
      color: $black;
    }
  }

  .grid-stack-item {
    cursor: pointer;
    width: 100%;
    color: $black;
    z-index: 2;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba($gray, .1);
    &:last-child {
      border-bottom: none;
    }

    .widget-icon {
      display: flex;
      font-size: 30px;
      padding-right: 15px;
    }

    .gs-widget-body {
      flex: 4 0 80%;
      display: flex;
      flex-direction: column;

      .gs-widget-title {
        font-size: 12px;
        font-weight: 600;

        &:after {
          content: attr(data-widget-count);
          margin-left: 5px;
          display: inline-flex;
          padding: 1px;
          border-radius: 100px;
          min-width: 18px;
          justify-content: center;
          align-items: center;
          font-size: 12px;
        }
      }

      hr {
        margin: 7px 0;
        border-top-color: #dedede;
      }

      .gs-widget-description {
        text-align: left;
        color: $gray;
        font-size: 12px;
      }
    }
  }
}

.dashboardEditPanel-buttons,
.sidebar {
  background-color: $sidebar-bg;
}

.dashboardEditPanel-buttons {
  display: flex;
  padding: 10px 10px 30px 10px;
  justify-content: space-around;

  button {
    flex: 1;
    margin: 0 5px;
  }
}

.sidebar__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: $sidebar-title-col;
  margin-bottom: 100px;
}

